<div class="container">

  <div class="product">
    <%= image_tag @product.photo ? @product.photo : @product.photos.first %>
    <div class='product-description'>
      <h2><%= @product.name %></h2>
      <p><%= @product.description%></p>
      <h4><%= humanized_money_with_symbol(@product.price) %></h4>
      <%= form_with url: orders_path do %>
        <%= hidden_field_tag 'product_id', @product.id %>
        <%= submit_tag 'Commander', class: 'btn btn-dark' %>
      <% end %>
    </div>
  </div>
<br>
<br>
<br>
<%= link_to 'retour', products_path %>
</div>
